<div class="s-container">
  <div class="s-index-header-logo">
    <h1>
      <a href="#">
        <img src="../../asset/image/s_index_logo.png" alt="">
      </a>
    </h1>
  </div>
  <ul class="user">
    <li class="message">
      <span></span>
      <sup>1</sup>
    </li>
    <li class="userInfo">
      <span>张三
        <i></i>
      </span>
      <ul>
        <li>
          <a href="#">我的资源</a>
        </li>
        <li>
          <a href="#">我的订单</a>
        </li>
        <li>
          <a href="#">个人资料</a>
        </li>
        <li>
          <a href="#">退出登录</a>
        </li>
      </ul>
    </li>
    <li class="beforeLogin">
      <span>
        登录
        <i></i>
      </span>
      <ul>
        <li>
          <a href="#">登录</a>
        </li>
        <li>
          <a href="#">注册</a>
        </li>
      </ul>
    </li>
    <li class="port">
      <span>教师端
        <i></i>
      </span>
      <ul>
        <li>
          <a href="#">学生端</a>
        </li>
        <li>
          <a href="#">教师端</a>
        </li>
      </ul>
    </li>
  </ul>

  <form action="" class="search">
    <div class='keyWord'>
      课程
      <i class="bottomFollow"></i>
      <ul class='s-index-bottomFollowList'>
        <li>
          <a href="#">课程</a>
        </li>
        <li>
          <a href="#">教材</a>
        </li>
      </ul>
    </div>
    <input type="text" class="searchBox">
    <button class="btn"></button>
  </form>




</div>
