<h1 class="s-h-logo left">
  <a href="#"><img src="../../asset/image/logo.png" alt="logo" title="哈工大出版社在线教育" /></a>
</h1>
<div class="s-h-info right">
  <ul class="user-list">
    <li class="wrap">
      <a href="" class="mes">
        <span class="mes-num">1</span>
      </a>
    </li>
    <li class="wrap">
      <a href="" class="avater">
        <img src="../../asset/image/avater.jpeg" class="avater" alt="" title="">
      </a>
      <a href="#">{{name}}<i class="triangle-down icon"></i></a>
      <ul>
        <li>我的资源</li>
        <li class="giveout">我的订单</li>
        <li class="giveout">个人资料</li>
        <li class="giveout"><a href="http://localhost:38900/login.html">退出登录</a></li>
      </ul>
    </li>
    <li class="wrap">
      <a href="#">教师端<i class="triangle-down icon"></i></a>
      <ul>
        <li>学生端</li>
        <li class="giveout">教师端</li>
      </ul>
    </li>
  </ul>
</div>
<div class="s-h-search">
  <div class="s-select">
    <a href="#">课程<i class="triangle-down-black icon"></i></a>
    <ul>
      <li>课程</li>
      <li class="giveout">教材</li>
    </ul>
  </div>
  <div class="s-input">
    <input type="search"><span class="search-logo"></span>
  </div>
</div>
