.tmpl-header{
    width: 1200px;
    margin: 0px auto;
    padding:20px 32px;
    overflow: hidden;
    display:flex;
    justify-content: space-between;
    .tmh-left{
        div{
            float: left;
        }
    }
    .tmh-center{
        flex-grow:1;
        padding:10px 115px 0px 20px;
        .tmh-select{
            display: flex;
            justify-content: space-between;
            height: 30px;
            width: 100%; 
            border:1px solid #ccc;
            input{
                outline: none;
                flex-grow: 1;
                border:0px solid #ccc;
                margin-top: 1px;
                margin-left: 5px;
            }
            .icon{
                font-size: 18px;
                display: inline-block;
                line-height: 30px;
                margin:6px;
                cursor: pointer;
            }
        }
    }
    .tmh-right{
        display: flex;
        margin-top:10px;
        justify-content: space-around;
        width: 300px;
        .tmh-message{
            cursor: pointer;
            width: 35px;
            height: 31px;
            position: relative;
            .icon{
                position: absolute;
                width: 35px;
                height: 31px;
            }
            span{
                position: absolute;
                right: 5px;
                top: -1px;
                color:#fff;
            }
        }
        .tmh-user{
            font-size: 14px;
            letter-spacing: 1px;
            display: flex;
            justify-content: space-between;
            img{
                width: 40px;
                height: 40px;
                border-radius: 40px;
            }
            .user{
                margin-top:10px;
                margin-left: 25px;
                cursor: pointer;
            }
            .user:hover .hid{
                display: block;
            }
            .user:hover svg{
                transform: rotate(180deg);
            }
            .hid{
                position: absolute;
                background:#fff;
                display: none;
                z-index: 2;
                ul{
                    margin-left:- 10px;
                    margin-top:5px;
                    background:#fff;
                    li{
                        padding: 5px 8px;
                        border: 1px solid #ccc;
                        a{
                            color: #000;
                        }
                    }
                }
            }
            .SwitchMe{
                .hid{
                    ul{
                        margin-left:0px;
                        li{
                            padding: 3px 10px;
                        }
                    }
                    
                }
            }
            
        }
    }
}
//  尾部
.tmpl-footer{
    height: 135px;
    margin: 0px auto;
    background: #373a43;
    p{
        color: #fff;
        font-size: 18px;
        text-align: center;
        line-height: 120px;
        span{
            padding:0px 5px;
        }
    }
}

