//course 课程列表
.course {
  background-color: #fff;
  margin: 40px 0;
  .course-header {
    overflow: hidden;
    height: 30px;
  }
  .course-title {
    float: left;
    color: #1a1a1a;
    font-weight: 200;
    span {
      border-left: 5px solid #2db0f9;
      padding-right: 20px;
    }
  }
  .course-btn-more {
    float: right;
    color: #2db0f9;
  }
  .course-body {
    padding: 10px 0;
    li {
      float: left;
      overflow: hidden;
      width: 210px;
      margin: 15px;
    }
    img {
      margin-bottom: 5px;
    }
  }
}
