/* content */
.content {
	margin-left: 250px;
	border: 1px solid #ececec;
}

.content .page-top {
	height: 56px;
	line-height: 56px;
	padding-left: 30px;

}

.content .page-top span {
	color: #2db0f9;

}
/* ' .content .page-top .turn {
	font-size: 16px;
	height: 20px;
	line-height: 20px;
} */



.content .page-top .turn a {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	background: url(../images/select.png) no-repeat;
	margin: 0 10px;


}



.content .page-top .turn .turn-right {
	background: url(../images/select.png) no-repeat top right;

}








/* detail */

.content .detail {
	border: 1px solid #ececec;
	overflow: hidden;
}

.content .detail .images {
	width: 208px;
	height: 184px;
	margin: 28px;
	background: url(../../asset/image/s_index_push_6.png) no-repeat;
}

.content .detail .describle {
	margin: 28px 20px 0 258px;
}

.content .detail .describle h2 {
	color: #111;
	font-size: 18px;
	font-weight: 500;
}

.content .detail .describle p {
	margin: 10px 0;
	font-size: 14px;
}

 .content .detail .describle .money {
	color: #e7594d;
	font-size: 18px;
}

.content .detail .describle p span {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../images/222.png) no-repeat;
	margin-right: 5px;
}
/* ------------------------------------ */

/* page-bottom */

.content .page-bottom {
	height: 90px;
	padding-top: 22px;

}

.content .page-bottom p {
	font-size: 14px;
	margin-left: 28px;

}
.content .page-bottom .total span {
	color: #2db0f9;
}

.content .page-bottom p .page {
	display: inline-block;
	width: 20px;
	height: 20px;
	/* border-radius: 50%;
	background-color: #2db0f9; */

}

.content .page-bottom .page-list label input {
	width: 30px;
	color: #666;
	border: 1px solid #e5e5e5;
	margin: 0 5px;
}

.content .page-bottom .page-list .confirm {
	border: 1px solid #e5e5e5;
	color: #2db0f9;
	background-color: #fff;
	width: 40px;
	margin: 0 5px;
}
