<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../style/main.css">
  <title>Document</title>
</head>

<body>
  <header id="s_header" class="s-header">
  </header>
  <nav id="s_nav" class="s-nav">
    <!-- --------- -->
    <div class="no">
      <div class="oh-no"></div>
    </div>
    <!-- --------- -->
    <div class="nav-wrap">
      <div class="nav-left left">
        <ul class="nav-list">
          <li id="n_home"><a class="xiong" href="/view/student/s_index.html">首页</a></li>
          <li id="n_course"><a class="color xiong" href="/view/student/s_course.html">课程</a></li>
          <li id="n_textbook"><a class="xiong" href="/view/student/s_textbook.html">教材</a></li>
          <li class="margin"> | </li>
          <li id="n_study"><a class="xiong" href="/view/student/s_study.html">我的学习</a></li>
        </ul>
      </div>
      <div class="nav-right right clearfix">
        <ul>
          <li><a href="#">通过课程邀请码加入课程</a></li>
          <li class="margin"> | </li>
          <li><a href="#">通过序列号获取资源权限</a></li>
        </ul>

      </div>
    </div>

  </nav>
  <section id="s_c_content">
    <p class="s_top_p">
      <span class="s_span">首页</span><span>></span><span class="s_span">课程</span><span>></span><a
        href="">一级分类名称</a><span>></span><a href="">二级分类名称</a>
    </p>
    <div class="s-c-wrap">
      <div class="s-c-item">
        <ul class="accordion">
          <li>
            <button class="accordion-control">哲学</button><span>+</span>

            <ul class="accordion-panel">
              <li>中国哲学</li>
              <li class="notone">西方哲学</li>
            </ul>

          </li>
          <li>
            <button class="accordion-control">教材一级分类</button><span>+</span>

            <ul class="accordion-panel">
              <li>教材二级分类</li>
              <li class="notone">教材二级分类</li>
              <li class="notone">教材二级分类</li>
            </ul>
          </li>
          <li>
            <button class="accordion-control">教材一级分类</button><span>+</span>
            <ul class="accordion-panel">
              <li>教材二级分类</li>
              <li class="notone">教材二级分类</li>
              <li class="notone">教材二级分类</li>
            </ul>
          </li>
          <li>
            <button class="accordion-control">教材一级分类</button><span>+</span>
            <ul class="accordion-panel">
              <li>教材二级分类</li>
              <li class="notone">教材二级分类</li>
              <li class="notone">教材二级分类</li>
            </ul>
          </li>
        </ul>

      </div>
      <div class="s-c-content">
        <div class="content_top">
          <div class="top_left left">共<span>100</span>个课程</div>
          <div class="top_right right"><span class="spanone">
              <</span> <span><i>1</i>/10
            </span><span class="top_span spantwo">></span></div>
        </div>
        <div class="content_main">
          <ul>
            <li>
              <a href="/view/student/s_course_detail.html">
                <img src="../../asset/image/s_index_push_2.png" alt="">
                <p>课程名称</p>
              </a>
              <span>作者</span><span>大学名称</span>
            </li>
            <li>
              <a href="">
                <img src="../../asset/image/s_index_push_2.png" alt="">
                <p>课程名称</p>
              </a>
              <span>作者</span><span>大学名称</span>
            </li>
            <li>
              <a href="">
                <img src="../../asset/image/s_index_push_2.png" alt="">
                <p>课程名称</p>
              </a>
              <span>作者</span><span>大学名称</span>
            </li>
            <li>
              <a href="">
                <img src="../../asset/image/s_index_push_2.png" alt="">
                <p>课程名称</p>
              </a>
              <span>作者</span><span>大学名称</span>
            </li>
            <li>
              <a href="">
                <img src="../../asset/image/s_index_push_2.png" alt="">
                <p>课程名称</p>
              </a>
              <span>作者</span><span>大学名称</span>
            </li>
            <li>
              <a href="">
                <img src="../../asset/image/s_index_push_2.png" alt="">
                <p>课程名称</p>
              </a>
              <span>作者</span><span>大学名称</span>
            </li>
            <li>
              <a href="">
                <img src="../../asset/image/s_index_push_2.png" alt="">
                <p>课程名称</p>
              </a>
              <span>作者</span><span>大学名称</span>
            </li>
            <li>
              <a href="">
                <img src="../../asset/image/s_index_push_2.png" alt="">
                <p>课程名称</p>
              </a>
              <span>作者</span><span>大学名称</span>
            </li>
            <li>
              <a href="">
                <img src="../../asset/image/s_index_push_2.png" alt="">
                <p>课程名称</p>
              </a>
              <span>作者</span><span>大学名称</span>
            </li>
            <li>
              <a href="">
                <img src="../../asset/image/s_index_push_2.png" alt="">
                <p>课程名称</p>
              </a>
              <span>作者</span><span>大学名称</span>
            </li>
            <li>
              <a href="">
                <img src="../../asset/image/s_index_push_2.png" alt="">
                <p>课程名称</p>
              </a>
              <span>作者</span><span>大学名称</span>
            </li>
            <li>
              <a href="">
                <img src="../../asset/image/s_index_push_2.png" alt="">
                <p>课程名称</p>
              </a>
              <span>作者</span><span>大学名称</span>
            </li>
            <li>
              <a href="">
                <img src="../../asset/image/s_index_push_2.png" alt="">
                <p>课程名称</p>
              </a>
              <span>作者</span><span>大学名称</span>
            </li>
            <li>
              <a href="">
                <img src="../../asset/image/s_index_push_2.png" alt="">
                <p>课程名称</p>
              </a>
              <span>作者</span><span>大学名称</span>
            </li>
            <li>
              <a href="">
                <img src="../../asset/image/s_index_push_2.png" alt="">
                <p>课程名称</p>
              </a>
              <span>作者</span><span>大学名称</span>
            </li>
            <li>
              <a href="">
                <img src="../../asset/image/s_index_push_2.png" alt="">
                <p>课程名称</p>
              </a>
              <span>作者</span><span>大学名称</span>
            </li>
            <li>
              <a href="">
                <img src="../../asset/image/s_index_push_2.png" alt="">
                <p>课程名称</p>
              </a>
              <span>作者</span><span>大学名称</span>
            </li>
            <li>
              <a href="">
                <img src="../../asset/image/s_index_push_2.png" alt="">
                <p>课程名称</p>
              </a>
              <span>作者</span><span>大学名称</span>
            </li>
            <li>
              <a href="">
                <img src="../../asset/image/s_index_push_2.png" alt="">
                <p>课程名称</p>
              </a>
              <span>作者</span><span>大学名称</span>
            </li>
            <li>
              <a href="">
                <img src="../../asset/image/s_index_push_2.png" alt="">
                <p>课程名称</p>
              </a>
              <span>作者</span><span>大学名称</span>
            </li>

          </ul>
        </div>
        <div class="content_footer">
          <!-- <div class="footer_left">共<span>100</span>个课程</div>
          <div class="footer_right"> -->
          <div class="pagination-wrap">
            <div class="total-module">
              共<span class="total-module-num">100</span>个课程
            </div>
            <div class="pagination"></div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <footer id="s_footer" class="s-footer">
      <ul>
        <li>Copyright &copy;2014-2016</li>
        <li>哈尔滨工业大学出版社</li>
        <li>版权所有</li>
        <li>京IC备11017824号-7</li>
      </ul>
    </footer>
    <script>
        window.onload = function(){
          console.log('xiongwencheng');
        }
      </script>
  <script src="../../lib/require.js" data-main="../../js/Controller/student/s_course.js"></script>

</body>

</html>
