<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../lib/swiper-4.1.6/css/swiper.min.css">
  <link rel="stylesheet" href="../../style/main.css">
  <title>Document</title>
</head>

<body>
  <header id="s_header" class="s-header">
    <!-- add pattern -->
  </header>
  <nav id="s_nav" class="s-nav">
    <!-- --------- -->
    <div class="no">
      <div class="oh-no"></div>
    </div>
    <!-- --------- -->
    <div class="nav-wrap">
      <div class="nav-left left">
        <ul>
          <li id="n_home"><a class="color" href="">首页</a></li>
          <li id="n_course"><a href="/view/student/s_course.html">课程</a></li>
          <li id="n_textbook"><a href="">教材</a></li>
          <li class="margin"> | </li>
          <li id="n_study"><a href="">我的学习</a></li>
        </ul>
      </div>
      <div class="nav-right right clearfix">
        <ul>
          <li><a href="">通过课程邀请码加入课程</a></li>
          <li class="margin"> | </li>
          <li><a href="">通过序列号获取资源权限</a></li>
        </ul>
      </div>
    </div>

  </nav>
  <!-- banner -->
  <section id="s_banner" class="s-banner">
    <div class="swiper-container  s-b-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../../asset/image/te_banner1.png" alt=""></div>
        <div class="swiper-slide"><img src="../../asset/image/te_banner1.png" alt=""></div>
        <div class="swiper-slide"><img src="../../asset/image/te_banner1.png" alt=""></div>
      </div>
    </div>

  </section>
  <!-- course -->
  <section id="s_course" class="s-course">
    <div class="s-c-top">
      <div class="top-left left">
        <span></span>推荐课程
      </div>
      <a href="#" class="right">more...</a>
    </div>
    <div class="s-c-content" id="courseList">

    </div>
  </section>

  <!-- textbook -->
  <section id="s_textbook" class="s-textbook">
    <div class="s-t-top">
      <div class="top-left left">
        <span></span>推荐教材
      </div>
      <a href="#" class="right">more...</a>
    </div>
    <div class="s-t-content">
    
    </div>
  </section>
  <footer id="s_footer" class="s-footer">
    <ul>
      <li>Copyright &copy;2014-2016</li>
      <li>哈尔滨工业大学出版社</li>
      <li>版权所有</li>
      <li>京IC备11017824号-7</li>
    </ul>
  </footer>
    <!-- <ul id="courseList"> -->
        <!-- <li>
          <img src="http://dummyimage.com/185x160" alt="">
          <p>课程名称</p>
        </li>
        <li>
          <img src="http://dummyimage.com/185x160" alt="">
          <p>课程名称</p>
        </li>
        <li>
          <img src="http://dummyimage.com/185x160" alt="">
          <p>课程名称</p>
        </li>
        <li>
          <img src="http://dummyimage.com/185x160" alt="">
          <p>课程名称</p>
        </li>
        <li>
          <img src="http://dummyimage.com/185x160" alt="">
          <p>课程名称</p>
        </li>
        <li>
          <img src="http://dummyimage.com/185x160" alt="">
          <p>课程名称</p>
        </li>
        <li>
          <img src="http://dummyimage.com/185x160" alt="">
          <p>课程名称</p>
        </li>
        <li>
          <img src="http://dummyimage.com/185x160" alt="">
          <p>课程名称</p>
        </li>
        <li>
          <img src="http://dummyimage.com/185x160" alt="">
          <p>课程名称</p>
        </li>
        <li>
          <img src="http://dummyimage.com/185x160" alt="">
          <p>课程名称</p>
        </li> -->
      <!-- </ul> -->

  <script src="../../lib/require.js" data-main="../../js/Controller/student/s_index.js"></script>

</body>


</html>
