<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../lib/swiper-4.1.6/css/swiper.min.css">
  <link rel="stylesheet" href="../../style/main.css">
  <title>Document</title>
</head>

<body>
  <header id="s_header" class="s-header">
    <!-- <h1 class="s-h-logo left">
      <a href="#"><img src="../../asset/image/logo.png" alt="logo" title="哈工大出版社在线教育" /></a>
    </h1>
    <div class="s-h-info right">
      <ul class="user-list">
        <li class="wrap">
          <a href="" class="mes">
            <span class="mes-num">1</span>
          </a>
        </li>
        <li class="wrap">
          <a href="" class="avater">
            <img src="../../asset/image/avater.jpeg" class="avater" alt="" title="">
          </a>
          <a href="#">王菲<i class="triangle-down icon"></i></a>
          <ul>
            <li>我的资源</li>
            <li class="giveout">我的订单</li>
            <li class="giveout">个人资料</li>
            <li class="giveout"><a href="http://localhost:38900/login.html">退出登录</a></li>
          </ul>
        </li>
        <li class="wrap">
          <a href="#">学生端<i class="triangle-down icon"></i></a>
          <ul>
            <li>学生端</li>
            <li class="giveout">教师端</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="s-h-search">
      <div class="s-select">
        <a href="#">课程<i class="triangle-down-black icon"></i></a>
        <ul>
          <li>课程</li>
          <li class="giveout">教材</li>
        </ul>
      </div>
      <div class="s-input">
        <input type="search"><span class="search-logo"></span>
      </div>
    </div> -->

  </header>
  <nav id="s_nav" class="s-nav">
    <!-- --------- -->
    <div class="no">
      <div class="oh-no"></div>
    </div>
    <!-- --------- -->
    <div class="nav-wrap">
      <div class="nav-left left">
        <ul>
          <li id="n_home"><a class="color" href="">首页</a></li>
          <li id="n_course"><a href="http://localhost:38900/view/student/s_course.html">课程</a></li>
          <li id="n_textbook"><a href="">教材</a></li>
          <li class="margin"> | </li>
          <li id="n_study"><a href="">我的学习</a></li>
        </ul>
      </div>
      <div class="nav-right right clearfix">
        <ul>
          <li><a href="">通过课程邀请码加入课程</a></li>
          <li class="margin"> | </li>
          <li><a href="">通过序列号获取资源权限</a></li>
        </ul>
      </div>
    </div>

  </nav>
  <!-- banner -->
  <section id="s_banner" class="s-banner">
    <div class="swiper-container  s-b-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../../asset/image/te_banner1.png" alt=""></div>
        <div class="swiper-slide"><img src="../../asset/image/te_banner1.png" alt=""></div>
        <div class="swiper-slide"><img src="../../asset/image/te_banner1.png" alt=""></div>
      </div>
    </div>

  </section>
  <!-- course -->
  <section id="s_course" class="s-course">
    <div class="s-c-top">
      <div class="top-left left">
        <span></span>推荐课程
      </div>
      <a href="#" class="right">more...</a>
    </div>
    <div class="s-c-content">
      <ul>
        <li>
          <img src="../../asset/image/s_index_push_10.png" alt="">
          <p>课程名称</p>
        </li>
        <li>
          <img src="../../asset/image/s_index_push_6.png" alt="">
          <p>课程名称</p>
        </li>
        <li>
          <img src="../../asset/image/s_index_push_9.png" alt="">
          <p>课程名称</p>
        </li>
        <li>
          <img src="../../asset/image/s_index_push_8.png" alt="">
          <p>课程名称</p>
        </li>
        <li>
          <img src="../../asset/image/s_index_push_1.png" alt="">
          <p>课程名称</p>
        </li>
        <li>
          <img src="../../asset/image/s_index_push_7.png" alt="">
          <p>课程名称</p>
        </li>
        <li>
          <img src="../../asset/image/s_index_push_5.png" alt="">
          <p>课程名称</p>
        </li>
        <li>
          <img src="../../asset/image/s_index_push_4.png" alt="">
          <p>课程名称</p>
        </li>
        <li>
          <img src="../../asset/image/s_index_push_3.png" alt="">
          <p>课程名称</p>
        </li>
        <li>
          <img src="../../asset/image/s_index_push_2.png" alt="">
          <p>课程名称</p>
        </li>
      </ul>
    </div>
  </section>

  <!-- textbook -->
  <section id="s_textbook" class="s-textbook">
    <div class="s-t-top">
      <div class="top-left left">
        <span></span>推荐教材
      </div>
      <a href="#" class="right">more...</a>
    </div>
    <div class="s-t-content">
      <ul>
        <li>
          <img src="../../asset/image/s_index_push_11.png" alt="">
          <p>教材名称</p>
        </li>
        <li>
          <img src="../../asset/image/s_index_push_11.png" alt="">
          <p>教材名称</p>
        </li>
        <li>
          <img src="../../asset/image/s_index_push_11.png" alt="">
          <p>教材名称</p>
        </li>
        <li>
          <img src="../../asset/image/s_index_push_11.png" alt="">
          <p>教材名称</p>
        </li>
        <li>
          <img src="../../asset/image/s_index_push_11.png" alt="">
          <p>教材名称</p>
        </li>
        <li>
          <img src="../../asset/image/s_index_push_11.png" alt="">
          <p>教材名称</p>
        </li>
        <li>
          <img src="../../asset/image/s_index_push_11.png" alt="">
          <p>教材名称</p>
        </li>
        <li>
          <img src="../../asset/image/s_index_push_11.png" alt="">
          <p>教材名称</p>
        </li>
        <li>
          <img src="../../asset/image/s_index_push_11.png" alt="">
          <p>教材名称</p>
        </li>
        <li>
          <img src="../../asset/image/s_index_push_11.png" alt="">
          <p>教材名称</p>
        </li>
      </ul>
  </section>
  <footer id="s_footer" class="s-footer">
    <ul>
      <li>Copyright &copy;2014-2016</li>
      <li>哈尔滨工业大学出版社</li>
      <li>版权所有</li>
      <li>京IC备11017824号-7</li>
    </ul>
  </footer>
  <script src="../../lib/require.js" data-main="../../js/Controller/student/s_index.js"></script>

</body>


</html>
