<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--[if lte IE 8]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-shim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.7/es5-sham.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/json3/3.3.2/json3.min.js"></script>
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="style/main.css">
  <title>登录/注册</title>
</head>

<body>
  <div class="login">
    <div class="s_container">
      <h1>
        <img src="../../asset/image/s_index_logo.png" alt="">
      </h1>
      <form action="">

      </form>
    </div>
  </div>
  <script src="lib/require.js" data-main="./main/student/s_log_reg.js"></script>
</body>

</html>
