
#s_header{
  width: 1190px;
  height: 74px;
  line-height: 74px;

  padding-top: 24px;
  margin: 0 auto;
  .s-h-logo{
    width: 320px;
	  height: 64px;
	  margin-left: 4px;
  }
  .s-h-info{
    margin-top: 15px;
    .user-list{
      li.wrap{
        float: left;
	      height: 42px;
	      line-height: 42px;
        font-size: 14px;
        margin-right: 20px;
        position: relative;
        a{
          .icon{
            display: inline-block;
            margin-left: 7px;
            position: relative;
            right: 0;
            top: 3px;
          }
        }
        ul{
          display: none;
          position: absolute;
          top: 40px;
          left: -18px;
          background: #fff;
          z-index: 999;

          li{
            border: 1px solid #ccc;
            height: 28px;
            line-height: 28px;
            text-align: center;
            width: 80px;
            cursor: pointer;

          }
          li.giveout{
            margin-top: -1px;
          }
          li:hover{
            background: #999;
          }
        }

        }
      }
      .user-list .wrap:hover ul{
        display: block;

      }
  }
  .s-h-search{
    margin: 20px 268px 0 382px ;
    height:36px;

    .s-select{
      font-size: 14px;
      width: 66px;
      height: 34px;
      line-height: 34px;
      background: #fbfbfb;
      text-align: center;
      float:left;
      border: 1px solid #e1e1e1;
      box-sizing: border-box;
      position: relative;;
      a{
        .icon{
          display: inline-block;
          margin-left: 7px;
          position: relative;
          right: 0;
          top: 3px;
        }
      }
      ul{
        display: none;
        position: absolute;
        top: 34px;
        left: -8px;
        background: #fff;
        z-index: 999;
        li{
          border: 1px solid #ccc;
          height: 28px;
          line-height: 28px;
          text-align: center;
          width: 80px;
          cursor: pointer;

        }
        li.giveout{
          margin-top: -1px;
        }
        li:hover{
          background: #999;
        }
      }

    }
    .s-select:hover ul {
      display: block;
    }

    .s-input{

      float: left;
      height: 34px;
      line-height: 34px;
      width: 404px;
      position: relative;
      margin-left: -1px;
      input{
        display: block;
        width: 404px;
        height: 34px;
        outline: none;
        text-indent: 10px;
        font-size: 14px;
        color:#999;
        border: 1px solid #e1e1e1;
      }
      .search-logo{
        display: inline-block;
	      height: 32px;
	      width: 32px;
	      background: url(../asset/image/search.jpg) no-repeat;
        position: absolute;
        top: 2px;
        right: 3px;
      }
    }


  }
}
#s_nav{
  background-color: #3598DB;
  .no{
    margin-left: 1190px;
    position: relative;
    .oh-no{
      height: 60px;
    	width: 50%;
	    background-color: #e7594d;
	    position: absolute;
	    right: 0;
	    top: 0;
    }
  }

  .nav-wrap{
    width: 1190px;
    height: 60px;
    margin: 0 auto;
    .nav-left{
      li{
        float: left;
        margin-top: 13px;
        margin-left: 10px;

        a{
          color: #fff;
          display: inline-block;
          height: 32px;
          line-height: 32px;
          padding: 0 22px;
          margin-right: 5px;
          font-size: 16px;
        }
        a.color{
          background-color: #2db0f9;
          border-radius: 3px;
        }
        a:hover {
          background-color: #2db0f9;
          border-radius: 3px;
        }
      }
      li.margin{
        font-size: 18px;
        color: #fff;
        margin-top: 15px;
      }
    }
    .nav-right{
      background-color: #e7594d;
      padding-left: 40px;
      height: 60px;
      li{
        float: left;

        margin-top: 13px;
        a{
          font-size: 14px;
          color: #fff;
          display: inline-block;
          height: 32px;
          line-height: 32px;
          padding: 0 22px;
          margin-right: 5px;

        }
      }
      li.margin{
        font-size: 18px;
        color: #fff;
        margin-top: 15px;
      }
    }
  }
}
#s_banner{
  height: 410px;
  background:#61caff;
  .s-b-container{
    width: 100%;
    text-align: center;
    div {
      div{
        img{
          display: none;
    }
  }
}
#s_course{
  width: 1190px;
  height: 580px;
  margin: 0 auto;
  // border: 1px solid red;
  .s-c-top{
    height: 96px;
    line-height: 96px;
    .top-left{
      font-size: 20px;
      font-weight: bold;
      span{
        display: inline-block;
        width: 5px;
        height: 17px;
        position: relative;
        top:2px;
        margin-right: 14px;
        background: #61caff;
      }
    }
    a{
      color: #61caff;
      margin-right: 10px;
    }
  }
  .s-c-content{
    ul{
      width:1190px;

      li{
        float: left;
        width: 206px;
        margin: 15px;
        img{
          width: 205px;
          height: 180px;
        }
        p{
          margin-top: 5px;
        }
      }
    }
  }
}
#s_textbook{
  width: 1190px;
  height: 600px;
  margin: 18px auto;
  // border: 1px solid red;
  .s-t-top{
    height: 96px;
    line-height: 96px;
    overflow: hidden;
    .top-left{
      font-size: 20px;
      font-weight: bold;
      span{
        display: inline-block;
        width: 5px;
        height: 17px;
        position: relative;
        top:2px;
        margin-right: 14px;
        background: #61caff;
      }
    }
    a{
      color: #61caff;
      margin-right: 10px;
    }
  }
  .s-t-content{
    ul{
      width:1190px;

      li{
        float: left;
        width: 206px;
        margin: 15px;
        img{
          width: 205px;
          height: 180px;
        }
        p{
          margin-top: 5px;
        }
      }
    }
  }

}
#s_footer{
  height: 140px;
	background-color: #373a43;
  color: #fff;
  ul{
    width: 450px;
	  margin: 0 auto;
    li{
      float: left;
	    margin: 46px 5px 0 0;
    }
  }
}
